* {
	margin: 0 auto;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: #00bcd4;
}
h1 {
	background: /*red*/ transparent;
	color: #e0f7fa;
	padding: 20px;
	margin: 30px;
	border: 3px solid #e0f7fa;
	border-radius: 5px;
	box-shadow: 0 3px 15px 5px rgba(0,0,0,0.3)
}
.top-triangles {
	display: flex;
}
.bottom-trinagle {
	display: flex;
}
.one {
	width: 0;
	height: 0;
	border-right: 75px solid transparent;
	border-left: 75px solid transparent;
	border-bottom: 100px solid #64b5f6;
}
.two {
	width: 0;
	height: 0;
	border-right: 75px solid transparent;
	border-left: 75px solid transparent;
	border-top: 100px solid #2196f3;

	margin-left: -75px;
}
.three {
	width: 0;
	height: 0;
	border-right: 75px solid transparent;
	border-left: 75px solid transparent;
	border-bottom: 100px solid #1976d2;

	margin-left: -75px;
}
.four {
	width: 0;
	height: 0;
	border-top: 150px solid #0d47a1;
	border-right: 150px solid transparent;
	border-left: 150px solid transparent;
}
